<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783066739557-f1a423bk94vuka6pp5afrg8c0lspv285.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783066739557-f1a423bk94vuka6pp5afrg8c0lspv285</string>
	<key>API_KEY</key>
	<string>AIzaSyDuHyCsWLdG8ojv6YBm6g1ullBE6j1V-sY</string>
	<key>GCM_SENDER_ID</key>
	<string>783066739557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>samo.Floh</string>
	<key>PROJECT_ID</key>
	<string>flohswift</string>
	<key>STORAGE_BUCKET</key>
	<string>flohswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783066739557:ios:152a55c271b7f763a9a78c</string>
</dict>
</plist>